.hidden {
    display: none;
}

.show {
    display: flex;
}

.invalid {
    border: 2px solid red;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    margin-bottom: 50px;
    background-color: #FEFAE0;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
  }

  td {
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px
  }

  #submit {
    background-color: mediumspringgreen;
    font-weight: bold;
  }

  #cancel {
    background-color: rgb(255, 204, 203);
    font-weight: bold;
  }

  #books-read {
    border: 3px solid #283618;
  }

  #books-unread {
    border: 3px solid #BC6C25;
  }

  #books-read caption {
    color: #283618;
    font-size: 2rem;
  }

  #books-unread caption {
    color: #BC6C25;
    font-size: 2rem;
  }

  td:first-child {
    font-style: italic;
    text-decoration: underline;
  }